body {
    padding-top: 15px;
    padding-bottom: 15px;
}

#subTitle {
    padding-bottom: 10px;
}

.nav {
    margin-bottom: 20px;
}

.subtext {
    padding-bottom: 0;
    font-weight: 300;
    font-size: 85%;
    font-style: italic;
}

legend {
    padding-top: 16px;
}


/* SCHOOL PICKER */

.schoolIcons {
    text-align: center;
    float: left;
    margin: 5px 5px 25px 5px;
}

#schoolPicker {
    margin-bottom: 10px;
}

#schoolPicker button {
    border-radius: 10px;
    background: transparent;
    vertical-align: middle;
    padding: 15px;
    border: none;
    outline: none;
    border: 1px solid transparent;
}

#schoolPicker button.active {
    box-shadow: inset 1px 1px 5px gray;
}

#schoolPicker button:hover,
#schoolPicker button:focus {
    border: 1px solid #00cdcd;
}

#schoolPicker button:before {
    content: "";
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#schoolPicker button[value='business']:before {
    background-image: url("https://ltc.bcit.ca/shared/business.png");
}

#schoolPicker button[value='computing']:before {
    background-image: url("https://ltc.bcit.ca/shared/computing.png");
}

#schoolPicker button[value='construction']:before {
    background-image: url("https://ltc.bcit.ca/shared/construction.png");
}

#schoolPicker button[value='energy']:before {
    background-image: url("https://ltc.bcit.ca/shared/energy.png");
}

#schoolPicker button[value='health']:before {
    background-image: url("https://ltc.bcit.ca/shared/health.png");
}

#schoolPicker button[value='transportation']:before {
    background-image: url("https://ltc.bcit.ca/shared/transportation.png");
}


/* INFLATOR */

#inflator {
    position: relative;
    z-index: 2;
}

#inflator:before {
    content: "";
    height: 10px;
    width: 0;
    border: 1px solid gray;
    left: 34%;
    top: 5px;
    position: absolute;
    z-index: 1;
}

#inflator-display {
    text-align: center;
    width: 100%;
    margin-left: 10px;
}


/* SUMMARY */

#timeSummary thead {
    font-size: 16px;
    text-transform: uppercase;
}

/*#timeSummary thead th:nth-of-type(1n + 2) {
    text-align: center;
}*/

#timeSummary .number {
    text-align: center;
    width:15%;
}

#timeSummary .item {
    text-align: right;
}

#timeSummary .time {
    width:33%;
}

#timeSummary tfoot {
/*    font-weight: 700; */
    border-top: 3px solid #333;
    font-size: 16px;
}

#timeSummary tfoot th {
    text-align: right;
}
